<label>Name:</label>
<%= @user.name %><br>
<label>Tickets:</label>
<%= @user.tickets %><br>
<label>Mood:</label>
<%= mood(@user) unless @user.happiness == nil || @user.nausea == nil %><br>
<label>Height:</label>
<%= @user.height %> inches<br>
<%= "ADMIN" unless @user.admin == false %>


<%= link_to "Log Out", logout_path %><br>

<%= link_to "See attractions", attractions_path %>